.div-tooltip {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: #444;
  color: #fff;
  padding: 10px 20px;
  margin: 20px;
  z-index: 9999;
  border-radius: 10px;
}

.bullets {
    display: flex;
    background-color: yellow;
}

.bullets li {
    cursor: pointer;
}